<?xml version="1.0" encoding="UTF-8"?>
<!-- Occurring in the WEB-INF directory, not in the META-INF directory ("violating" the CDI spec))! -->
<!-- See https://openliberty.io/docs/latest/cdi-beans.html -->
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="annotated" version="4.0">
    <!-- bean-discovery-mode "annotated" (the default since version 4.0), to prevent the occurrence of lots of "unexpected" CDI beans -->
</beans>
